/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.main {
  background-color: white;
  width: 100%;
  height: 100%;
  /* box-sizing: border-box; */
  padding: 2.5% 10%;
  color: black;
}
.top {
  display: flex;
  justify-content: flex-end;
}
.box {
  display: flex;
  justify-content: space-between;
}
.left {
  width: 65%;
}
.logoTopBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.logobox {
  display: flex;
  align-items: center;
  width: 60%;
}
.imgbox {
  position: relative;
  width: 20%;
  padding-bottom: 20%;
  height: 0px;
  background-color: rgb(4, 162, 241);
  border-radius: 50px;
}
.logo {
  width: 90%;
  aspect-ratio: 1;
  object-fit: cover;
  /* height: 0px; */
  /* will-change: filter;
  transition: filter 300ms; */
}
.h1 {
  font-weight: 800;
  font-size: 20px;
  margin-left: 10px;
}
.h1pay {
  font-weight: 200;
}
.timer {
  display: flex;
  width: 40%;
  justify-content: flex-end;
}
.timebox {
  background-color: rgb(13, 13, 97);
  color: white;
  width: 25%;
  height: 60px;
  border-radius: 10px;
  margin: 0px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.colon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.title {
  font-weight: 700;
}
.summary {
  font-weight: 200;
  color: rgb(56, 56, 55);
}
.headerRight {
  color: rgb(4, 162, 241);
  display: flex;
  align-items: center;
  font-weight: 600;
}
.btn {
  background-color: rgb(4, 162, 241);
  color: white;
  box-sizing: border-box;
  padding: 20px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 10px;
}
.right {
  width: 30%;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
